<form action="/cart" method="POST" class="list-inline-item">
    <button href="#" class="btn btn-primary" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>" > 
  </form>