<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
<!-- Not Found Page HTML -->
<div class="page-not-found pt-5">
    <div class="bg-light shadow">
        <h2>404</h2>
        <h3 class="mt-4">Opps! Page Not Found</h3>
        <div class="mt-5">
            <a href="/"><button class="btn m-2 m-md-0 btn-primary"><i class="bi bi-house-door-fill"></i> Back Home</button></a>
        </div>
    </div>
</div>
<%- include('partials/end.ejs') %>